# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# OS-specific files
.directory

# Build and temp files
[Bb]in/
[Oo]bj/
[Pp]ublish*/
publish_output/
publish_ready/
*.zip
[Tt]est[Rr]esults/

